{% extends 'base.html' %}

{% block admin-panel %}

<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle mb-1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Create
  </button>
  <div class="dropdown-menu" aria-labelledby="dLabel">

    <a class="dropdown-item" href="{% url 'post_create_url' %}"><font class="ml-4">Post</font></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'tag_create_url' %}"><font class="ml-4">Tag</font></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'script_create_url' %}"><font class="ml-4">Script</font></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'man_create_url' %}"><font class="ml-4">Man</font></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'command_create_url' %}"><font class="ml-4">Command</font></a>
    
  </div>
</div>

<a href="{{ admin_object.get_update_url }}" class="btn btn-secondary btn-sm edit mb-1"
  style="{% if detail %}display: block;{% endif %}">Edit</a>
<a href="{{ admin_object.get_delete_url }}" class="btn btn-danger btn-sm delete"
  style="{% if detail %}display: block;{% endif %}">Delete</a>

{% endblock %}