{% extends 'blog/base_blog.html' %}

<body onload="prettyPrint()">

  {% block title %}
  {{ command.title }} - {{ block.super }}
  {% endblock %}

  {% block content %}
  <div class="offset-md-0">
    <h3 class="mt-4">{{ command.title }}:</h3>
 
    <style>
      li {
        line-height: 14px;
      }
    </style>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js">
    </script>
    <li class="list-group">
      <pre class="prettyprint">
      <p class="ml-3"><font size="2">{{ command.body|linebreaksbr }}</font></p>
    </pre>
    </li>
  </div>
  {% endblock %}
